body{
  background-color: #DFEEEA;
}
hr{

  border-style: none;
  border-top: dotted;
  border-color: #b2b8a3;
  border-width:4px;
  width: 60%;
  height: 2px;
}
h1{
  color: #1eae98;
  font-family:serif;
}
h3{
  color: #1eae98;
  font-family:cursive;
}
h4{
    color: #1eae98;
    font-family:cursive;
}
